<!--Inicio Modal Nueva Linea-->
<div id="modalNuevoRol" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Nuevo Rol
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-body pal">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nombre Rol: </label>
                            <input id="NombreRol" name="NombreRol" type="text" placeholder="Ingrese Nombre Rol" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="CerrarPopUpUsuario" data-dismiss="modal" class="btn btn-danger">
                    Cancelar
                </button>
                <button type="button" onclick="agregarRol()" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal Nueva Linea-->
