
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Usuarios</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            Nuevo Usuario
        </a>
    </div>
    <div class="panel-body">
        <table id="tbTipoOperacion" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre y Apellido</th>
                    <th>Nombre Usuario</th>
                    <th>Nombre Cargo</th>
                    <th>Fecha Creación</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="bodytbUsuarios">
                <tr>
                    <td colspan="7">No existen registros</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/Pages/Usuarios.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        cargarTablaUsuarios();
    });
</script>

