
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tipo de Movimiento</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            Nuevo Tipo Movimiento
        </a>
    </div>
    <div class="panel-body">
        <table id="tbTipoOperacion" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre Tipo Movimiento</th>
                    <th>Fecha Creación</th>
                    <th>Usuario</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="bodytbTipoMov">
                <tr>
                    <td colspan="6">No existen registros</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/Pages/TipoMovimiento.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        cargarTablaTipoMovimiento();
    });
</script>
