.bg-gradient-primary {
    background-color: #e74a3b !important;
    background-image: linear-gradient(180deg,#e74a3b 10%,#a94442 100%) !important;
}
.sidebar.toggled{
    transition:all 300ms ease-in-out;
}
.sidebar{
    transition:all 300ms ease-out;
}
.navbar-nav{
    margin:0;
}
.btn-link {
    color: #e74a3b;
}

    .btn-link:hover, .btn-link:focus {
        color: #e74a3bba;
    }