<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js"></script>


@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Reporte</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#modalFiltrosReporte">
            Filtros
        </a>
    </div>
    <div class="panel-body">
        <table id="tbReporte" class="table table-striped table-bordered" style="width:100%;margin-top: 25px;">
            <thead>
                <tr>
                    <th>Tipo Operacion</th>
                    <th>Monto Salida</th>
                    <th>Tipo Cambio</th>
                    <th>Caja Soles</th>
                    <th>Caja Dolares</th>
                    <th>Caja Euros</th>
                    <th>Ususario Creacion</th>
                    <th>Fecha Creacion</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody id="bodytbReporte">
                <tr>
                    <td colspan="9">Seleccione filtros para realizar una búsqueda</td>
                </tr>
            </tbody>
        </table>
        <div class="row" id="Botones_Exportar" style="display:none">
            <div class="col-lg-10">

            </div>
            <div class="col-lg-2">
                <button type="button" onclick="ExportarExcel();" class="btn btn-primary px-3"><i class="fa fa-file-excel" aria-hidden="true"></i> Exportar a Excel</button>
            </div>
            @*<div class="col-lg-2">
                <button type="button" onclick="ExportarPDF();" class="btn btn-primary px-3"><i class="fas fa-file-pdf" aria-hidden="true"></i> Exportar a PDF</button>
            </div>*@
        </div>
    </div>
</div>
<script src="~/Scripts/Pages/Reporte.js"></script>
@Html.Partial("_Filtros");
<script type="text/javascript">
    $(document).ready(function () {
        //********************LÓGICA PARA OBTENER FECHA ACTUAL******************
        var fecha = new Date(); //Fecha actual
        var mes = fecha.getMonth() + 1; //obteniendo mes
        var dia = fecha.getDate(); //obteniendo dia
        var ano = fecha.getFullYear(); //obteniendo año
        if (dia < 10)
            dia = '0' + dia; //agrega cero si el menor de 10 (DIA)
        if (mes < 10)
            mes = '0' + mes //agrega cero si el menor de 10 (MES)
        //********************LÓGICA PARA OBTENER FECHA ACTUAL******************
        $('#fInicio').val(ano + '-' + mes + '-' + dia);
        $('#fFin').val(ano + '-' + mes + '-' + dia);
    });
</script>
