@using Entidades
@{
    List<CalatogoCLS> listaRoles = (List<CalatogoCLS>)ViewBag.listaRoles;
}
<!--Inicio Modal Nueva Linea-->
<div id="modalNuevoUsuario" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Nuevo Usuario
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-body pal">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre : </label>
                            <input id="NombreUsuario" name="NombreUsuario" type="text" placeholder="Ingrese Nombre" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>A. Paterno : </label>
                            <input id="APaternoUsuario" name="APaternoUsuario" type="text" placeholder="Ingrese Ap. Paterno" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>A. Materno : </label>
                            <input id="AMaternoUsuario" name="AMaternoUsuario" type="text" placeholder="Ingrese Ap. Materno" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>E-Mail : </label>
                            <input id="EmailUsuario" name="EmailUsuario" type="text" placeholder="Ingrese E-Mail" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Teléfono : </label>
                            <input id="TelefonoUsuario" name="TelefonoUsuario" type="text" placeholder="Ingrese Nro. Teléfono" maxlength="9" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Cargo : </label>
                            <select id="idCargoUsario" class="form-control">
                                @foreach (var item in listaRoles)
                                {
                                    <option value="@item.ValorItem">@item.NombreItem</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ususario : </label>
                            <input id="Usuario" name="Usuario" type="text" placeholder="Ingrese Usuario" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contraseña : </label>
                            <input id="Conrasenia" name="Conrasenia" type="password" placeholder="Ingrese Contraseña" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="CerrarPopUpUsuario" data-dismiss="modal" class="btn btn-danger">
                    Cancelar
                </button>
                <button type="button" onclick="agregarUsuario()" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal Nueva Linea-->
