<!--Inicio Modal Editar-->
<div id="modalEditarConfCaja" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Editar Tipo de Cambio
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-body pal">
                    <div class="form-group col-md-4">
                        <label>Caja Actual (S/.)</label>
                        <input type="text" class="form-control" id="txtCajaActualSoles_ME" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Caja Actual ($)</label>
                        <input type="text" class="form-control" id="txtCajaActualDolares_ME" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Caja Actual (Є)</label>
                        <input type="text" class="form-control" id="txtCajaActualEuros_ME" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Tipo Cambio ($)</label>
                        <input type="text" class="form-control" id="txtTCCompraDolar_ME">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Tipo Cambio Venta ($)</label>
                        <input type="text" class="form-control" id="txtTCVentaDolar_ME">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Tipo Cambio (€)</label>
                        <input type="text" class="form-control" id="txtTCCompraEuro_ME">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Tipo Cambio Venta (€)</label>
                        <input type="text" class="form-control" id="txtTCVentaEuro_ME">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="CerrarPopUpUsuarioEditar" data-dismiss="modal" class="btn btn-primary">
                    Cancelar
                </button>
                <button type="button" id="btnEditarConfCaja" class="btn btn-danger">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal Editar-->
